$main-font: "Open Sans", sans-serif;
$headings: "Poppins", sans-serif;
$pink: hsl(322, 100%, 66%);
$lightpink: hsl(321, 100%, 78%);
$red: hsl(0, 100%, 63%);
$darkblue: hsl(192, 100%, 9%);
$paleblue: #f5faff;

