@use "../abstracts/variables";

.main-button {
  margin-top: 60px;

  &__a {
    padding: 12px 45px;
    border-radius: 25px;
    text-decoration: none;
    color: variables.$paleblue;
    background-color: variables.$pink;
    box-shadow: 0px 10px 23px -7px rgb(0, 37, 46, 0.19);
  }
}

.main-button__a:hover,
.main-button__a:focus {
  background-color: variables.$lightpink;
}

.subscribe-button {
  margin-top: 30px;
}

.subscribe-button__a {
  text-decoration: none;
  padding: 12px 45px;
  background-color: variables.$pink;
  color: variables.$paleblue;
  border-radius: 5px;
}
.subscribe-button__a:hover,
.subscribe-button__a:focus {
  background-color: variables.$lightpink;
}

@media screen and (min-width: 1440px) {
  .main-button__a {
    padding: 20px 65px;
    border-radius: 35px;
  }
  .subscribe-button {
    margin: 0;
  }
}
