@use "../abstracts/variables";

.huddle {
  padding: 50px 30px;
}

.huddle__contact-item {
  display: flex;
  gap: 20px;
  align-items: baseline;
}
.huddle__contact-paragraph-p {
  margin-bottom: 5px;
}
.huddle__socmedia {
  margin-top: 40px;
}
.huddle__socmedia-img {
  margin-right: 15px;
  filter: invert(100%);
  width: 35px;
  height: 35px;
}
.attribution {
  margin: 0;
  padding-bottom: 10px;
  background-color: variables.$darkblue;
}

@media screen and (min-width: 1440px) {
  .huddle {
    width: 430px;
  }
}
