@use "../abstracts/variables";

.newsletter {
  padding: 50px 35px;
  color: variables.$paleblue;
}
.newsletter__heading {
  text-transform: uppercase;
}
@media screen and (min-width: 1440px) {
  .newsletter {
    width: 450px;
  }
}
